.delete-all-pubs{
    border: none;
    color: white;
    background-color: rgb(255, 99, 71);
    border-radius: 2vmax;
    padding: 0.5vmax 1vmax;
    cursor: pointer;
    font-size: 1.3vmax;
}

.admin-m-d{
    width: unset !important;
    margin-top:0 !important;

}
.p-a{
    width: unset !important;
    position: relative;
}
.filter-a{
    background-color: white;
    z-index: 19 !important;
    min-height:100vmin !important;
    overflow-y: unset !important;
    position: absolute;
    left: 0;
    top: 0;
    width: unset !important;
    background-color: white !important;
    transition: all .1s linear;
}
.close-a{
    position: absolute;
    right: 1vmax;
    top: 1vmax;
    font-size: 1.5vmax;
    cursor: pointer;
}

.f-b-a-close{
    top: -100vh;
}
.f-b-a-open{
    top:0;
}
.filter-o-c{
    position: absolute;
    left: 1vmax;
    top: 1vmax;
    font-size: 4vmax;
    cursor: pointer;
    z-index: 100;
}

.admin-search{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    >input{
        background-color: whitesmoke;
        padding: .7vmax;
        border: none;
        font-size: 1vmax;
    }
    >svg{
        font-size: 1.8vmax;
        cursor: pointer;
    }
}